footer{
// left
    margin-top:120px;
    display: flex;
    padding:0px 100px;
    justify-content: center;
    align-items: center;
    & .container_left_footer{
        width: 207px;
        height: 133px;
        margin-right: 100px;

        & h3{
            font-size: 44px;
            font-family: 'poppins',sans-serif;
            color: #181E4B;
        }

        & p{
            font-size:13px;
            font-family: 'poppins',sans-serif;
            color: #5E6282;
        }
    }

    // middle
    

    & .container_middle_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        & .column_footer{
             margin-right: 100px;
        }
    }
    
    & .container_middle_footer .column_footer p{
        font-family: 'poppins',sans-serif;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    & .container_middle_footer .column_footer ul{
        list-style-type: none;
        & li{
            margin-bottom: 10px;
        }
    }
    & .container_middle_footer .column_footer li a{
        text-decoration: none;
        font-family: 'poppins',sans-serif;
        font-size: 18px;
        color: #5E6282;
    }
    
//    right
    & .container_right .container_app{
        margin-top: 20px;
    }

    & .container_right .container_discover_app{
        font-family: 'poppins',sans-serif;
        font-size: 18px;
        color: #5E6282;
        margin: 10px;
    }
}