@media screen and (max-width: 380px){
    .section-6{
        justify-content: center;
        margin: auto;
        align-items: center;
        padding-left: 160px;
    }
    .section-6 .container_logo{
    flex-direction: column !important;
    justify-content: center !important;
    margin: auto !important;
    align-items: center;
    .logo-3 {
        margin-bottom: 10px !important;
    }
}
}

